.UserInfo {
  padding-bottom: 95px;
}
.UserInfo-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ea6b42;
  height: 80px;
  border-bottom: 1px solid #ccc;
  padding-left: 30px;
  padding-right: 20px;
  background-color: white;
  z-index: 9999;
}
.UserInfo-top-icon {
  background-image: url(../img//back.png);
  height: 100%;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.UserInfo-top-title {
  font-size: 24px;
  font-weight: 700;
}
.UserInfo-base {
  height: 360px;
  background-image: url(../img/background.png);
  background-size: cover;
  display: flex;
  padding-top: 120px;
  position: relative;
  z-index: 998;
}
.UserInfo-base-user {
  text-align: center;
  flex: 1;
  justify-content: center;
}
.UserInfo-base-user-pic {
  width: 130px;
  height: 130px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #dddcda;
  position: relative;
}
.UserInfo-base-user-pic img {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.UserInfo-base-user-name {
  font-size: 30px;
  font-weight: 600;
  color: white;
}
.UserInfo-base-info {
  font-size: 30px;
  font-weight: 400;
  color: white;
  flex: 1;
  justify-content: center;
}
.UserInfo-base-info-text {
  margin-bottom: 5px;
}
.UserInfo-base-info-vipmoney {
  font-size: 28px;
  display: flex;
  color: #ea6b42;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
.UserInfo-base-info-money {
  border-radius: 8px;
  display: flex;
  background-color: white;
}
.UserInfo-base-info-money > div {
  width: 115px;
}
.UserInfo-base-info-vip {
  width: fit-content;
  font-size: 28px;
  margin-top: 4px;
  border-radius: 8px;
  background-color: white;
  width: 115px;
  white-space: nowrap;
  color: #ea6b42;
  text-align: center;
}
.UserInfo-subject {
  background-color: #e4e4e4;
}
.UserInfo-subject-title {
  font-size: 28px;
  color: #66667f;
  background-color: white;
  padding: 30px 40px;
  font-weight: 400;
  margin-bottom: 2px;
}
.UserInfo-subject-itemWrap {
  display: flex;
  background-color: white;
  margin-bottom: 15px;
}
.UserInfo-subject-item {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  background-color: white;
}
.UserInfo-subject-item-tip {
  position: absolute;
  color: white;
  background-color: red;
  border-radius: 70%;
  top: 0px;
  right: 0px;
  padding: 4px;
  font-size: 18px;
  transform: translateY(-50%);
}
.UserInfo-subject-item-extr {
  color: red;
  padding: 15px 20px;
  background-color: white;
  margin-top: -16px;
  margin-bottom: 15px;
  font-size: 20px;
}
.UserInfo-subject-item-pic {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
.UserInfo-subject-item-pic img {
  width: 100%;
  height: 100%;
}
.UserInfo-subject-item-text {
  font-size: 22px;
}
.UserInfo-subject-itemWrap2 > .UserInfo-subject-item {
  flex: 1 1 24% !important;
}
.UserInfo-bottom {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90px;
  font-size: 14px;
  text-align: center;
  color: #b8b8b8;
  background-color: white;
  align-items: center;
}
.UserInfo-bottom-item {
  flex: 1;
}
.UserInfo-bottom img {
  width: 45px;
  height: 45px;
}
.UserInfo-bottom-activeItem {
  color: #ea6b42;
}
.UserInfo-ModalWarp {
  position: fixed;
  z-index: 999;
  background-color: rgba(127, 127, 127, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.UserInfo-Modal {
  background-color: white;
  width: 80%;
  border-radius: 8px;
  text-align: center;
}
.UserInfo-Modal-title {
  text-align: left;
  padding: 20px;
}
.UserInfo-Modal-bottom {
  padding: 20px;
}
.UserInfo-Modal-content {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
