.main-banner {
  width: 750px;
  height: 490px;
  background: url(pages/img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-content {
  text-align: center;
  padding: 10px;
  gap: 10px;
}
.main-content-title {
  font-size: 28px;
  color: white;
  font-weight: 900;
  white-space: nowrap;
  display: block;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.main-content-top {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  margin-bottom: 10px;
}
.main-content-top img {
  height: 260px ;
  width: 100%;
}
.main-content-top-one {
  height: 260px;
  flex: 1;
  position: relative;
}
.main-content-top-two {
  height: 260px;
  flex: 2 ;
  display: flex;
  column-gap: 10px;
  position: relative;
}
.main-content-top-two-one {
  flex: 1;
  position: relative;
}
.main-content-top-two-three {
  flex: 1;
  position: relative;
}
.main-content-middle {
  display: flex;
  column-gap: 10px;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}
.main-content-middle-one {
  flex: 1;
  height: 260px;
  position: relative;
}
.main-content-middle-two {
  position: relative;
  flex: 2 ;
  height: 260px;
}
.main-content-middle-two img {
  height: 100%;
  width: 100%;
}
.main-content-middle img {
  height: 260px;
  width: 100%;
}
.main-content-bottom {
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
}
.main-content-bottom > div {
  flex: 1;
  height: 260px;
}
.main-content-bottom img {
  height: 260px;
  width: 100%;
}
.main-content-bottom-one {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(pages/img/考试.jpg);
  background-size: cover;
}
.main-content-bottom-two {
  background-color: #9588e4;
  position: relative;
}
